*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
html/
nbproject/private/
nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
funclist
nbproject/Makefile-*
disassembly/
*.map
*.mk
Laboratorio1.X/nbproject/Package-default.bash
Laboratorio1.X/nbproject/Makefile-variables.mk
Laboratorio1.X/nbproject/Makefile-local-default.mk
Laboratorio1.X/nbproject/Makefile-impl.mk
Laboratorio1.X/nbproject/Makefile-genesis.properties
Laboratorio1.X/nbproject/Makefile-default.mk
Laboratorio1.X/nbproject/Makefile-default.mk
Laboratorio1.X/nbproject/private/private.xml
Laboratorio1.X/nbproject/private/configurations.xml
Laboratorio1.X/nbproject/Makefile-local-default.mk
Laboratorio1.X/nbproject/Makefile-genesis.properties
Laboratorio1.X/nbproject/Makefile-default.mk
